.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header {
  font-family: "Special Elite", cursive;
}
.bodyText {
  font-family: "Open Sans Condensed", sans-serif;
}
